@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Font Face */
    @font-face {
      font-family: 'AdieuBlack';
      src: url(./resources/fonts/Adieu-Black.woff) format("woff");
    }

    @font-face {
      font-family: "AdieuBold";
      src: url(./resources/fonts/Adieu-Bold.woff) format("woff");
    }
    
    /* reset */
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @apply box-border
    }

    html, body {
      overflow-x:hidden;
      /* min-height: 100vh; */
    }     

    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: #1E0E0A;
    }

    body {
      @apply bg-white
    }

    body.testnet {
      @apply bg-grayCRE-100
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    ::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
      width: 0;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: rgba(166, 166, 166, .5);
    }

    button {
      outline:none;
    }

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }

    a {
      display: block;
    }
}

@layer utilities {
  /* SCREEN-READER (alternative texts) */
  .SCREEN-READER {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* MAIN */
  .MAIN {
    @apply relative min-h-screen pt-[calc((1rem*2)+2.5rem)] md:pt-[calc((1rem*2)+2.5rem)]
  }

  /* TYPOGRAPHY */
  .TYPO-H1 {
    @apply font-adieu text-[1.5rem] leading-none -tracking-[0.03em] font-black break-all /* 24px */
  }

  .TYPO-H2 {
    @apply font-adieu text-[1.25rem] leading-[1.75rem] -tracking-[0.02em] font-black break-all /* 20px */
  }

  .TYPO-H3 {
    @apply text-[1rem] leading-[1.5rem] -tracking-[0.02em] font-black break-all /* 16px */
  }

  .TYPO-BODY-2XS {
    @apply text-[0.5rem] leading-[1rem] -tracking-[0.01em] font-normal break-all /* 8px */
  }

  .TYPO-BODY-XS {
    @apply text-[0.75rem] leading-[1.25rem] -tracking-[0.02em] font-normal break-all /* 12px */
  }
  
  .TYPO-BODY-S {
    @apply text-[0.875rem] leading-[1.5rem] -tracking-[0.02em] font-normal break-all /* 14px */
  }
  
  .TYPO-BODY-M {
    @apply text-[1rem] leading-[1.5rem] -tracking-[0.02em] font-normal break-all /* 16px */
  }

  .TYPO-BODY-L {
    @apply text-[1.25rem] leading-[1.75rem] -tracking-[0.01em] font-normal break-all /* 20px */
  }

  .TYPO-BODY-XL {
    @apply text-[1.5rem] leading-none -tracking-[0.01em] font-normal break-all /* 24px */
  }
}
